<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77720903573-75m753qp5ln66fkqjrgu6mfhujqfkrkm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77720903573-75m753qp5ln66fkqjrgu6mfhujqfkrkm</string>
	<key>API_KEY</key>
	<string>AIzaSyBVaW-nBoQoFDu90VuNuugan938jPCk14s</string>
	<key>GCM_SENDER_ID</key>
	<string>77720903573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>gproject-22d21</string>
	<key>STORAGE_BUCKET</key>
	<string>gproject-22d21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77720903573:ios:2a03307b100b2eeec3209c</string>
</dict>
</plist>